# Backend
APP_NAME=Nology Cashback API
APP_ENV=development
API_HOST=0.0.0.0
API_PORT=8000

# PostgreSQL
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/cashback

# Frontend
FRONTEND_ORIGIN=http://127.0.0.1:5500
